{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Generate Keys</legend>
            </fieldset>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have a Key? <a class="ml-2" href="{{ url_for('validate_keys') }}">Verify it</a>
                </small>
            </div>
    </div>
    <div>
       <p> {{ private_key }} save it </p> 
    </div>
                    
{% endblock content %}