{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{  form.hidden_tag()  }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.private_key.label(class="form-control-label") }}
                {% if form.private_key.errors %}
                    {{ form.private_key(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.private_key.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.private_key(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="bnt btn-outline-info")}}
        </div>
    </form>
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
           Don't have the keys<a class="ml-2" href="{{ url_for('create_keys') }}">generate them</a>
        </small>
    </div>
</div>
{% endblock content %}